* {
  margin: 0;
  padding: 0;
  font-family: courier;
}

@media only screen and (max-width: 355px) {
	html {
	  width: 355px;
	  overflow: scroll;
	}
}

html {
  background: #56cc45;
}

form {
  width: 299px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: #ddd;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
}

input {
  margin: 10px;
}

p {
  font-size: 18px;
}

input[type=text], input[type=password] {
  width: 85%;
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
  position: relative;
  height: 20px;
  border-radius: 10px;
  border: solid green 4px;
}

input:focus, button:focus {
  outline: none;
}

input.log {
  background: green;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 0px;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
  left: 24%;
}

input.reg {
  background: green;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-left: 80px;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
}

button {
  background: green;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 80px;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
}

#forgot {
  margin-left: 55px;
}

a {
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

a:hover {
  text-decoration: underline;
}
